/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Noto Serif SC', serif;
*/

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(155deg,#c6d0d3,#f9faf7);
    min-width: 200px;
    max-width: 700px;
    display: table;
    margin: 0 auto!important;
}

header {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;

}

img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;   
    border-radius: 15px;
}

section {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);

}

header, .social, section {
    background: linear-gradient(175deg,#fafaf6,#e2e2e2);
    margin: 10px;
}

.articleGridContainer {
    margin: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
}


.imgArticle {
    grid-column-start: 1;
    grid-column-end: 2;
    float: left;

}

.contenuArticle {
    grid-column-start: 2; 
    grid-column-end: 3;
}

h1 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Lato'!important;
}

h2 {
    text-align: center;
    font-size: 10vw;
    font-family: 'Roboto'!important;

}


h3 {
    text-align: center;
    font-size: 2vw;
    font-family: 'Roboto'!important;

}

.icon {
    width: 50px;
    height: 50px;
}

.icon:hover {
    opacity: 0.9;
}

.titreH2Movies

p {
    font-family: 'Oswald'!important;
}

.button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
}

.social {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100px;

}

.psocial {
    font-weight: bold;
}

.fa {

}

.movies {
    display:flex;
    flex-direction:column;    
}

footer {
    
}

@media only screen and (max-width:100%) {
    body {
        display: none;
    }
}